/* ==============+=
        Colots
================ */
/*  Primary  */
/*  Neutral  */
/* ================
    Typography
================ */
/*  Body Copy  */
/*  Font  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/* =============== Main ================ */
body {
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.sr--only {
  font-size: 0;
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 2rem;
}
@media (min-width: 45rem) {
  .dashboard {
    display: grid;
    grid-template-columns: minmax(25%, 1fr) minmax(auto, 3fr);
    justify-content: center;
    align-items: center;
    margin-inline: clamp(3.5rem, -0.061rem + 6.95vw, 5.5rem);
  }
}

/*  Avatar Profile  */
.dashboard__profile {
  background-color: #1c1f4a;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .dashboard__profile {
    align-self: center;
  }
}

.profile__avatar {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  background-color: #5847eb;
  color: rgba(189, 193, 255, 0.7);
  padding-inline: 2rem;
  padding-block: 2rem;
  border-radius: 20px;
}
@media (min-width: 45rem) {
  .profile__avatar {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding-block: 2rem 7rem;
  }
}
.profile__avatar img {
  width: 5rem;
  border: 2px solid white;
  border-radius: 50%;
}
.profile__avatar figcaption span {
  display: block;
  font-size: clamp(1rem, 0.39rem + 2.6vw, 2.5rem);
  font-weight: 300;
  color: white;
}

.day {
  display: flex;
  justify-content: space-around;
  padding-block: 1rem;
  color: rgba(189, 193, 255, 0.7);
}
@media (min-width: 45rem) {
  .day {
    flex-direction: column;
    gap: 1.5rem;
    padding-inline-start: 2rem;
    padding-block: 2rem;
  }
}

/*  Activity  */
.dashboard__activity {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 45rem) {
  .dashboard__activity {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    align-self: center;
  }
}

.activity {
  background-repeat: no-repeat;
  background-position: right 1.2rem top -0.5rem;
  background-size: 4rem;
  background-blend-mode: luminosity;
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
}
.activity__status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 1rem;
  color: white;
  background-color: #1c1f4a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-inline: 2rem;
  padding-block: 2rem;
  /* For top bg image border */
  margin-top: 2rem;
}
@media (min-width: 45rem) {
  .activity__status {
    grid-template-columns: 82% 18%;
    row-gap: clamp(1.5rem, 0.628rem + 1.7vw, 2rem);
    margin-top: 2.8rem;
  }
}
.activity__status--title {
  font-size: inherit;
  font-weight: 500;
}
.activity__status--dots {
  width: 1.2rem;
  height: 0.1rem;
  border: 4px dotted rgba(189, 193, 255, 0.7);
  border-bottom: 0;
  margin-right: 0;
}
.activity__status--current {
  font-size: clamp(2rem, 1.39rem + 2.6vw, 3.5rem);
  font-weight: 300;
}
.activity__status--previous {
  font-size: 0.92rem;
  color: rgba(189, 193, 255, 0.7);
  text-align: right;
}
@media (min-width: 45rem) {
  .activity__status--previous {
    grid-area: 3/1/span 1/span 1;
    text-align: start;
    margin-top: -1.5rem;
  }
}

.activity--work {
  background-color: #ff8c66;
  background-image: url("../assets/images/icon-work.svg");
}

.activity--work {
  background-color: #ff8c66;
  background-image: url("../assets/images/icon-work.svg");
}

.activity--play {
  background-color: #56c2e6;
  background-image: url("../assets/images/icon-play.svg");
}

.activity--study {
  background-color: #ff5c7c;
  background-image: url("../assets/images/icon-study.svg");
}

.activity--exercise {
  background-color: #4acf81;
  background-image: url("../assets/images/icon-exercise.svg");
}

.activity--social {
  background-color: #7536d3;
  background-image: url("../assets/images/icon-social.svg");
}

.activity--self-care {
  background-color: #f1c65b;
  background-image: url("../assets/images/icon-self-care.svg");
}

/*# sourceMappingURL=index.css.map */
