/* ==============+=
        Colots
================ */


/*  Primary  */

$blue: hsl(246, 80%, 60%);
$light-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

/*  Neutral  */

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$white: hsl(0, 0%, 100%);

/* ================
    Typography
================ */


/*  Body Copy  */

$font-size: 1rem;

/*  Font  */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$font-family: 'Rubik',
sans-serif;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;

/* =============== Main ================ */

body {
    font-family: $font-family;
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size;
    min-height: 100vh;
    //overflow: hidden;
}

.sr--only {
    font-size: 0;
}

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block: 2rem;
    @media (min-width: 45rem) {
        display: grid;
        grid-template-columns: minmax(25%, 1fr) minmax(auto, 3fr);
        gap: 1.65rem;
        justify-content: center;
        align-items: center;
        /* tablets */
        margin-inline: clamp(3.5rem, -0.061rem + 6.95vw, 5.5rem);
    }
    @media(min-width: 1025px) {
        margin-block: 7.6rem;
        margin-inline: 10rem;
    }
}


/*  Avatar Profile  */

.dashboard__profile {
    background-color: $dark-blue;
    border-radius: 20px;
    @media(min-width: 992px) {
        align-self: center;
    }
}

.profile__avatar {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    background-color: $blue;
    color: rgba($pale-blue, 0.7);
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 20px;
    @media(min-width: 45rem) {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        padding-block: 2rem 7rem;
    }
    img {
        width: 5rem;
        border: 2px solid white;
        border-radius: 50%;
    }
    figcaption {
        span {
            display: block;
            font-size: clamp(1rem, 0.39rem + 2.6vw, 2.5rem);
            font-weight: $fw-300;
            color: $white;
            margin-block-start: 0.4rem;
        }
    }
}

.day {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 2rem;
    color: rgba($pale-blue, 0.7);
    @media(min-width: 45rem) {
        flex-direction: column;
        gap: 1.5rem;
        padding-inline-start: 2rem;
        padding-block: 2rem;
    }
    .btn {
        width: min-content;
        &:hover {
            cursor: pointer;
        }
    }
    /* To style active btn */
    /* JS Classes */
    .btn-active {
        color: white;
    }
}


/*  Activity  */

.dashboard__activity {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media(min-width: 45rem) {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        align-self: center;
        gap: 1.65rem;
    }
}

.activity {
    /* Initially hide section */
    display: none;
    background-repeat: no-repeat;
    background-position: right 1.2rem top -0.5rem;
    background-size: 4rem;
    background-blend-mode: luminosity;
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    transition: transform 0.9s ease-in-out;
    &__status {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 1rem;
        color: white;
        background-color: $dark-blue;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-inline: 2rem;
        padding-block: 2rem;
        /* For top bg image border */
        margin-top: 2rem;
        @media(min-width: 45rem) {
            grid-template-columns: 82% 18%;
            row-gap: clamp(1.5rem, 0.628rem + 1.7vw, 2rem);
            margin-top: 2.8rem;
        }
        &--title {
            font-size: inherit;
            font-weight: $fw-500;
        }
        &--dots {
            width: 1.2rem;
            height: 0.1rem;
            border: 4px dotted rgba($pale-blue, 0.7);
            border-bottom: 0; // To make single line dots
            margin-right: 0; // To align dots right side
        }
        &--current {
            font-size: clamp(2rem, 1.39rem + 2.6vw, 3.5rem);
            font-weight: $fw-300;
        }
        &--previous {
            font-size: 0.92rem;
            color: rgba($pale-blue, 0.7);
            text-align: right;
            @media(min-width: 45rem) {
                grid-area: 3 / 1 / span 1 / span 1;
                text-align: start;
                margin-top: -1.5rem;
            }
        }
    }
}

.animate {
    transform: rotateY(360deg);
}


/* Add to activity section to show */

.active {
    display: block;
}

.activity--work {
    background-color: $light-red;
    background-image: url('../assets/images/icon-work.svg');
}

.activity--work {
    background-color: $light-red;
    background-image: url('../assets/images/icon-work.svg');
}

.activity--play {
    background-color: $soft-blue;
    background-image: url('../assets/images/icon-play.svg');
}

.activity--study {
    background-color: $light-red-study;
    background-image: url('../assets/images/icon-study.svg');
}

.activity--exercise {
    background-color: $lime-green;
    background-image: url('../assets/images/icon-exercise.svg');
}

.activity--social {
    background-color: $violet;
    background-image: url('../assets/images/icon-social.svg');
}

.activity--self-care {
    background-color: $soft-orange;
    background-image: url('../assets/images/icon-self-care.svg');
}