/* ==============+=
        Colots
================ */


/*  Primary  */

$blue: hsl(246, 80%, 60%);
$light-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

/*  Neutral  */

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

/* ================
    Typography
================ */


/*  Body Copy  */

$font-size: 18px;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
$font-family: "Rubik",
sans-serif;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;

/* =============== Main ================ */

body {
    font-family: $font-family;
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sr--only {
    font-size: 0;
}

.dashboard {
    width: calc(100vw + -25vw);
    min-height: 100vh;
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    background-color: $dark-blue;
    border-radius: 20px;
}

.profile__avatar {
    display: flex;
    align-items: center;
    background-color: $blue;
    color: rgba($pale-blue, 0.7);
    margin-bottom: 2rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 20px;
    img {
        width: 5rem;
        border: 2px solid white;
        border-radius: 50%;
    }
    figcaption {
        padding-left: 2rem;
        span {
            display: block;
            font-size: 1.5rem;
        }
    }
}

.day {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    color: rgba($pale-blue, 0.7);
}


/*  Activity  */

.activity {
    background-color: $light-red;
    background-image: url("../assets/images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: right 5% top -12%;
    background-size: 4rem;
    background-blend-mode: luminosity;
    border-radius: 20px;
}

.activity__status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    align-items: center;
    color: white;
    background-color: $dark-blue;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 2rem;
    font-size: inherit;
    .activity__title {
        font-size: inherit;
        font-weight: $fw-500;
    }
    .status__current {
        font-size: 2rem;
        font-weight: $fw-300;
    }
    .status__previous {
        color: rgba($pale-blue, 0.7);
        text-align: right;
    }
}

hr {
    width: 1.2rem;
    height: 0.1rem;
    border: 4px dotted rgba($pale-blue, 0.7);
    border-bottom: 0; // To make single line dots
    margin-right: 0; // To align dots right side
}